{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Tetris</h1>

    <twig:Loop></twig:Loop>

</div>

{% endblock %}
