@font-face {
    font-family: "Tetris";
    src: url("../fonts/Tetris.ttf") format("opentype") tech(color-COLRv1);
}

:root {
    --border-color: rgba(241, 241, 241, 0.5);
    --spacing-xs: 3px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --radius-sm: 4px;
    --radius-md: 8px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-image: url("../images/tetris.jpg");
    width: 100%;
    font-family: Tetris;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

dialog {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    z-index: 2;
    gap: var(--spacing-2);
    padding: var(--spacing-2);
    border-radius: var(--radius-md);
    border: 5px outset var(--border-color);
    background: linear-gradient(
        0,
        rgba(15, 26, 38, 1) 0%,
        rgba(39, 67, 97, 1) 100%
    );
    color: white;
    height: fit-content;
    font-family: "Courier New", Courier, monospace;
    .instructions input {
        width: 100%;
    }
    .header {
        margin-bottom: var(--spacing-3);
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3);
    }
}

.gameboard {
    position: relative;
    display: flex;

    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;
        inset: 0;
        position: absolute;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    &.pause::before {
        content: "Pause";
    }
    &.pause.waiting::before {
        content: "Waiting for other player";
    }
    &.pause.gameover::before {
        content: "Game Over";
    }
    &.pause.waiting.youwin::before {
        content: "You win";
    }
}

.board {
    display: flex;
}

.game-info {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    gap: var(--spacing-2);
    justify-content: space-around;
    border: 5px inset white;
    border-radius: var(--radius-md) 0 0 var(--radius-md);
    padding: var(--spacing-2);
    color: white;
    background: linear-gradient(
        0,
        rgba(15, 26, 38, 1) 0%,
        rgba(39, 67, 97, 1) 100%
    );
}

.btn {
    cursor: pointer;
}
.game {
    --size: 25px;
    background: #0f1a26;
    background: linear-gradient(
        0,
        rgba(15, 26, 38, 1) 0%,
        rgba(39, 67, 97, 1) 100%
    );
    width: min-content;
    border: 5px inset white;
    border-radius: var(--radius-md) 0 0 var(--radius-md);
    display: grid;
    gap: var(--spacing-xs);
    grid-template-columns: repeat(var(--width), var(--size));
    grid-template-rows: repeat(var(--height), var(--size));
}

.left {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-between;
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    border: 5px inset white;
    height: 100%;
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-2);
        color: white;
        padding: var(--spacing-2);
        height: 100%;
        background: linear-gradient(
            0,
            rgba(15, 26, 38, 1) 0%,
            rgba(39, 67, 97, 1) 100%
        );
        border-radius: var(--radius-md);
        place-items: center;
        border: 3px inset white;
        font-size: 1.8rem;
        font-weight: 500;
        span {
            border: 1px inset white;
            border-radius: var(--radius-md);
            text-transform: uppercase;
            padding-inline: var(--spacing-2);
            padding-block: var(--spacing-1);
            font-size: 1rem;
        }
    }

    .next {
        --size: 20px;
        display: grid;
        grid-template-columns: repeat(6, var(--size));
        grid-template-rows: repeat(3, var(--size));
        gap: 6px;
        .tetromino {
            display: contents;
            .brick {
                width: 100%;
                height: 100%;
                border: 2px outset var(--border-color);
                grid-row: calc(var(--y) + 1);
                grid-column: calc(var(--x) - 3);
            }
        }
    }
}

.tetromino {
    display: contents;
}

.brick {
    border: 2px outset var(--border-color);
    background-color: var(--color, "grey");
    --light-color: color-mix(in srgb, var(--color) 75%, black 25%);
    background: linear-gradient(0, var(--light-color) 20%, var(--color) 100%);
    grid-column: var(--x);
    grid-row: var(--y);
}

.youwin {
    color: #31c7ef;
    font-weight: bold;
    padding-inline-start: var(--spacing-1);
}