<dialog {{ attributes }}>
    <p>The second player {{ otherPlayer }} is ready,<br> please click to start game</p>
    <button class="btn" data-action="live#action" data-live-action-param="startMultiplayer">Start</button> 
</dialog>